.body{
    display: flex;
    justify-content: center;
    align-items: center;
   background: radial-gradient(circle at 60% 40%, #5c8374 0%, #e9b4c9 100%);
    height: 100vh;
    width: 100vw;

}

.container{
    background-color: rgb(255, 255, 255);
    /* height: 180px;
    width: 350px; */
    display: grid;
   grid-template-rows: 1fr 2fr 1fr;
    box-shadow: 2px 1px 8px 0.15px black;
    border-radius: 8px;
}

.heading{
    color: #555;
    margin-left: 30px;
    font-weight: 600;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    
}

.son{
    background-color: #ecf7ff;
    height: 90%;
    width: 80%;
    place-self: center;    
    border-left: 5px solid rgb(0, 0, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0.05px black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 10px;
}


