body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form {
    background-color: #2b52ff;
    height: 385px;
    width: 520px;
    border-radius: 40px;
    display: grid;
    grid-template-rows: 70px 60px 60px 60px 70px;
    row-gap: 12px;

}

form:hover {

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #e4d9d9;


}

#h1 {
    font-size: 35px;
    letter-spacing: 1px;
}

#h1,
#Submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

#fname,
#lname,
#age {

    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 200px;
    margin-left: 20px;
    color: white;
    font-family: 'Poppins';
    font-size: medium;
    font-weight: 600;


}

#Submit-button {
    justify-content: end;
    margin-right: 60px;


}

#Submit {
     
      background-color: white;
    border: none white;
    border-radius: 7px;
    padding: 7px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: "Poppins";
    color: #2b52ff;
}

#Submit:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
     background-color: #f4ebeb;

}


input {
    border-radius: 4px;
    border: none;
    padding: 6px;
    outline: none;
}


input:hover {

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #e4d9d9;


}
















